

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    -webkit-user-select: none;
    user-select: none; 
    box-sizing: border-box;
}
:root{
    --accent-red: #f60100;
    --accent-red2: #ff0000;
    --accent-green: #01f700;
    --accent-green2: #00cc00;
    --accent-blue: #64e9e5;
    
    --main-accent: var(--accent-blue)
}

body { 
    margin: 0; 
    background: black; 
    overflow: hidden; 
}
canvas { 
    display: block; 
    touch-action: none;
}
.mobile_only{
    display: none;
}
#ship_console_window{  
    position: fixed;
    z-index: 3;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.console{
    background-color: black;
    border: 2px solid var(--main-accent);
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8;
    color: white;
    z-index: 3;
    font-size: 20px;

    transition: transform 1s ease-in-out;
    transform: translateX(0);
}
.console.hidden{
    transform: translateX(110%);
}
.danger_message{
    background-color: var(--accent-red);
    color: white;
}
.note{
    font-size: 12px;
    color: var(--main-accent);
}
#central_message{
    position: fixed;
    pointer-events: none;
    top: 5%;
    left: 50%;
    max-width: 90vw;
    text-align: center;
    transform: translate(-50%, 0%);
    touch-action: none;
}
.console_row{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    height: auto;
    transition: height 1s ease-in-out;
    overflow-y: hidden;
}
.console_row.hidden{
    height: 0px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    color: black;
    background-color: var(--main-accent);
    padding: 10px 20px;
    margin: 5px;
}
.button.small{
    border-radius: 50%;
    padding: 0px;
    width: 20px;
    height: 20px;
}
#mothership_explosion_gif{
    display: none;
    position: fixed;    
    transform: translate(-50%, -50%);
    transition: width 5s linear, blur 5s linear;
    width: 100px;
}
#scan_results{
    position: fixed;
    /* Dont interact with mouse */
    pointer-events: none;
}