
* {
  font-family: 'Roboto', sans-serif;
}
:root{
	--dark-green-color: #016436;
	--light-green-color: #6ab647;
	--light-blue-color: #2E86C1;
	--yellow-color: #F1C40F;
	--orange-color: #F39C12;
	--red-color: #C0392B;
}
#game_avatar{
	position: absolute;
	bottom: 60px;
	left: 10px;
	margin: auto;
	z-index: 2;
}
#game_question{
	position: absolute;
	top: -40px;
	left: 100%;
	width: 240px;
	
	font-size: 24px;
	text-align: left;
	color: white;
	background-color: var(--light-green-color);
	padding: 12px;
	border-radius: 10px 10px 10px 0px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#big_emoji{
	font-size: 100px;
}
.rajons{
	fill: var(--light-green-color);
}
.rajons:hover{
	fill: var(--yellow-color) !important;
	fill-opacity: 1;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transform: translateY(-20px);
	z-index: 99999;
	transition: transform 0.2s ease-in-out;
}
.balloons_container{
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 96vw;
	left: 2vw;
	bottom: 0px;
	z-index: 10;
	/* No mouse interaction */
	pointer-events: none;
}
#balloons, #balloons2{
	display: none;
}
#balloons img{
	width: 10vw;
}
#balloons2 img{
	width: 100%;
}
#map{
	position: absolute;
	top: 10%;
	width: 100%;
	height: 458px;
}
#map_svg_object{
	width: 100vw;
	height: 80vh;
}
.map_svg{
	margin: auto;
	width: 100%;
	height: 100%;
}
body {
	background-color: white;
	margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: var(--dark-green-color);
}

#navbar{
	z-index: 9;
}
#win_emoji{
	font-size: 100px;
}
#end_screen{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 3;
}